.li {
    list-style: none;
    font-size: 0.7rem;
    text-align: center;
    transition: all 200ms ease-in;
}

.li a {
    color: var(--font-color);
    text-decoration: none;
}

.li svg {
    width: 2rem;
    transition: all 200ms ease-in;
}

.li a:hover {
    color: var(--color-hover);
}