/* basic button */
.btton {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: bolder;
  padding: 3px 9px;
  border-radius: 5px;
  border-color: var(--color-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 3px 0px;
}

div.button {
  width: fit-content;
}

.button > span,
.button > div {
  margin: 2px;
}

.button:hover {
  background-color: var(--color-black);
  color: var(--color-hover);
  border-color: var(--color-hover);
}

/* icon position */
.icon-position-left {
  flex-direction: row;
}

.icon-position-right {
  flex-direction: row-reverse;
}
.icon-position-up {
  flex-direction: column;
}

.icon-position-bottom {
  flex-direction: column-reverse;
}

/* Add animated effect */
.button.animated {
  transition: all 0.25s ease;
}

.button.animated:hover {
  transform: translateY(5px);
}

/* */
/* Variant plain */
.button.plain {
  border: none;
}

/* Variant transparent */
.button.transparent,
.button.transparent:hover {
  background-color: transparent;
  border: none;
}
