.item-wrapper {
  position: relative;
}

.item {
  border: 3px solid transparent;
  border-radius: 5px;
  overflow: hidden;
}

.item-dragged {
  position: absolute;
  transform-origin: bottom left;
  -webkit-backface-visibility: hidden;
}

.item-wrapper-active:not(.item-wrapper-dragging) .item {
  border: 30px solid #4e56ff;
}

.item-outer {
  border: 2px solid transparent;
  border-radius: 2px;
  overflow: hidden;
}

.item-wrapper-selected:not(.item-wrapper-dragging) .item-outer {
  border: 2px solid orange;
}

.item-inner {
  position: relative;
  width: 80px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #aaa;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.item-dragged .item-inner {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.35);
}

.item-wrapper-dragging .item-inner {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.item-wrapper-dragging.item-wrapper-hovered .item-inner {
  border: 2px solid var(--color-hover);
  border-radius: 2px;
  background-color: transparent;
}

.item-wrapper-dragging .item-inner img {
  opacity: 0;
}

.insert-line-left,
.insert-line-right {
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  width: 4px;
  background-color: var(--color-hover);
}

.insert-line-right {
  left: auto;
  right: -1px;
}