.card {
    width: 200px;
    height: 300px;
    padding: 1px;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px 0 var(--color-shadow);
    transition: 0.4s ease-out;
    border-radius: 3px;
    margin:0;
    position: relative;
}

.card > * {
    padding: 3px;
}

.card:hover:before {
    opacity: .75;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.card > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .info-content {
    z-index: 3;
    color: var(--color-white);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.card:hover .info-content {
    opacity: .75;
    transform: translateY(0px);
}

/* the overall structure of an info section: buttons and text */
.info-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top-section {
    height: 5vh;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
}

.right-area,
.left-area {
    display: inline-flex;
    width: 1rem;
}

.left-area svg,
.right-area svg {
    display: block;
}

.left-area svg:hover,
.right-area svg:hover {
    fill: var(--color-white);
}

.bottom-section {
    height: 5vh;
    padding: 1vh 2vw;
    text-align: center;
}

.bottom-section h3 {
    margin: 0px;
    letter-spacing: 1px;
    font-size: 15px;
}