/* notification */
.notification-wrapper {
    position: relative;
}

.notification-indicator {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 60%;
    bottom: 60%;
    background-color: var(--main-color-third);
    border: 10px solid var(--main-color-third);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.notification-count {
    font-family: Arial;
    color: var(--main-color-white);
    font-weight: 700;
}