.dropZone {
  padding: 1rem;
  margin: 0.5rem;
  background-color: var(--color-white);
  border: 2px dashed var(--color-hover);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 30vh;
}

.progressZone {
}

.errorZone {
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .mainContent {
    flex-direction: column;
  }
}
