.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-wrapper.modal-fade {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    0% {
      animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.modal-wrapper .modal-container {
    height: auto;
    background-color: var(--bg-color);
    padding: 1.25rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
  .modal-wrapper .modal_header {
    position: relative;
  }
  .modal-wrapper .modal_header-title {
    text-align: center;
  }
  .modal-wrapper .modal_header .close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 20px;
  }
  .modal-wrapper .modal_header .close svg {
    width: 1rem;
    height: auto;
    transition: all 0.3s;
  }
  .modal-wrapper .modal_header .close:hover svg {
    transform: scale(1.1);
  }
  .modal-wrapper .modal_content {
    padding: 2rem 0;
  }