.navbar__item {
    list-style: none;
    font-size: 0.7rem;
    text-align: center;
    transition: all 200ms ease-in;
}

.navbar__item a {
    color: var(--font-color);
    text-decoration: none;
}

.navbar__item svg {
    width: 2rem;
    transition: all 200ms ease-in;
}



.navbar__item a:hover {
    color: var(--main-color-hover);
}