.navbar__list {
    border-radius: 0 var(--main-radius) var(--main-radius) 0;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 100vh;
    width: auto;
    min-width: 5rem;
    border: 2px var(--main-border-style) var(--main-border-color);
    /*background-color: var(--main-border-color); not good in dark*/
}

@media screen and (max-width: 550px) {
    .navbar__list {
        border-radius: var(--main-radius) var(--main-radius) 0 0;
        flex-direction: row;
        width: 100vw;
        min-height: 5rem;
        height: auto;
        padding: 1rem;
    }
}