/*** App Overall Structure ***/
.app {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

/*-- navbar area --*/
.app__nav {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10%;
    order: -1;
    display: flex; 
}

/*-- main area --*/
.app__main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 90%;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

/*** Media Queries ***/
@media screen and (max-width: 550px) {
    /*** App Overall Structure ***/
    .app {
        flex-direction: column;
    }
    
    /*-- navbar area --*/
    .app__nav {
        flex-basis: 0%;
        order: 0;
    }

    /*-- main area --*/
    .app__main {
        flex-basis: 80%;
    }

}  