/*
*  CSS TABLE OF CONTENTS
*   
*  Variables
*  Reset
*
*/

/*** Variables for color theme ***/
/* DEFAULT COLOR THEME */
:root {
  --main-color-white: #ffffff;
  --main-color-dark: #000000;
  --main-color-primary: #6a7481;
  --main-color-secondary: #6a7481;
  --main-color-third: #6a7481;
  --main-color-hover:#eeeeee;
  --main-radius: 0.5rem;
  --main-border-width: 1px;
  --main-border-style: solid;
  --main-border-color: #666d70;
  --main-border: var(--main-border-width) var(--main-border-style) var(--main-border-color);
  --main-font-weight: 400;
  --main-font-color: #000000;
  --duration: 0.1s;
  --timing: ease;
  --image-grayscale: 0;
  --image-opacity: 100%;
  --bg-color: var(--main-color-white);
  --font-color: var(--main-color-dark);
}

/* LIGHT COLOR THEME */
[data-theme="light"] {
  --main-color-white: #ffffff;
  --main-color-dark: #004058;
  --main-color-primary: #ecfcff;
  --main-color-secondary: #b2fcff;;
  --main-color-third: #74bbe4;
  --main-color-hover:#3edbf0;
  --main-radius: 0.5rem;
  --main-border-width: 1px;
  --main-border-style: solid;
  --main-border-color: #66acae;
  --main-border: var(--main-border-width) var(--main-border-style) var(--main-border-color);
  --main-font-weight: 400;
  --main-font-color: #004058;
  --image-grayscale: 0;
  --image-opacity: 100%;
  --bg-color: var(--main-color-white);
  --font-color: var(--main-color-dark);
}

/* DARK COLOR THEME */
[data-theme="dark"] {
  --main-color-white: #ecfcff;
  --main-color-dark: #004058;
  --main-color-primary: #abc8e2;
  --main-color-secondary: #c4d7ed;
  --main-color-third: #e1e6fa;
  --main-color-hover: #3edbf0;
  --main-radius: 0.5rem;
  --main-border-width: 1px;
  --main-border-style: solid;
  --main-border-color: #66acae;
  --main-border: var(--main-border-width) var(--main-border-style) var(--main-border-color);
  --main-font-weight: 400;
  --main-font-color: #ecfcff;
  --image-grayscale: 50%;
  --image-opacity: 90%;
  --bg-color: var(--main-color-dark);
  --font-color: var(--main-color-white);
}

/*** Reset ***/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing),;
}

img,
video {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}
