/* infoContent */
.infoContent .text {
  font-weight: lighter;
  text-transform: none;
}

/* close button as a little circle */
.closeArea.asCircle {
  position: absolute;
  top: -3%;
  right: -6%;
  width: 2rem;
  height: 2rem;
  border-radius: 50% !important;
  min-width: auto;
}

/* buttons appearing when hovering the card */
.closeArea.asAppear {
  position: absolute;
  top: 0%;
  right: 0%;
}

/* close button in the upper-right corner */
.closeArea.asCorner {
  width: 0;
  height: 0;
  border-top: 5em solid var(--color-hover);
  border-bottom: 5em solid transparent;
  border-left: 5em solid transparent;
  position: absolute;
  right: 0;
}

.closeArea.asCorner .closeBtn {
  position: absolute;
  transform: scale(1.6);
  top: -5em;
  left: -4.8em;
  color: var(--color-white);
}
