.wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}
  
.wrapper:before {
    content: '';
    display: table;
    padding-top: 100%;
}
  
.item {
    flex-grow: 1;
    display: flex;
}